:root {
    --dark-color:#2E2F42;
    --text-color: #434455;
    --pressed-state-color: #404BBF;
    --btn-color: #FFFFFF;
    --links-color: #4D5AE5;
    --accent-color:#E7E9FC;
    --footer-logo-color: #F4F4FD;
}
body {
    font-family: 'Roboto', sans-serif;
   color: var(--text-color);

}
p,h1,h2,h3,h4,h5,h6 {
    margin-top: 0; 
    margin-bottom: 0;
     }
ol, ul{
    margin-top: 0; 
    margin-bottom: 0;
    padding-left: 0;
}
img {
    display: block;
}
.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
margin: 0 auto;


}
.section {
    padding-bottom: 120px;
    padding-top: 120px;
}
/*------------HEADER----------------*/
.list {
    list-style: none;
}
.link {
    text-decoration: none;
}
.header {
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid var(--accent-color);
}
.header-container {
    display: flex;
    align-items: center;
}

.header-logo {
font-family: 'Raleway', sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.33;
text-transform: uppercase;
margin-right: 76px;
color: var(--links-color);
}

.header-logo-studio {
/* NAVY BLUE */
color: var(--dark-color);

}


/*-----------------nav-------------------------*/
.header-navigation {
    display: flex;
    align-items: center;
    margin-right: auto;
}
.header-list {
    display: flex;
    gap: 40px;  
}
.header-link {
    position: relative;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
   /* navy blue */
   color: var(--dark-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}
.header-link.current::after {
    content: "";
position: absolute;
width: 100%;
height: 4px;
background: #404BBF;
border-radius: 2px;
left: 0;
bottom: -28px;

}
.header-link:hover,
.header-link:focus {
    color: var(--pressed-state-color);
    background-color:var(--btn-color);
}
.header-list .header-link.current {
    color: var(--pressed-state-color);
}

/*-------------/nav----------------*/


/*--------------contacts--------------*/
.contacts {
    position: relative;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
/* SLATE */
    color: var(--text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts:hover,
.contacts:focus {
    color: var(--pressed-state-color);
   background-color: var(--btn-color);
}
/*----------------/contacts-------------------*/
/*--------------------/HEADER-----------*/
/*---------------MAIN-HERO-------------------*/
.hero {
    padding-top: 188px;
    padding-bottom: 188px;
    background-color: var(--dark-color);
    text-align: center;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
    ), url(../images/hw4/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
    margin: auto;
}

.main-title {
max-width: 496px;
font-weight: 700;
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
color: var(--btn-color);

margin-left: auto;
margin-right: auto;
margin-bottom: 48px;

}
.modal-btn {
    
  min-width: 169px;
  height: 56px;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.04em;
    cursor: pointer;
    color: var(--btn-color);    
    background-color: var(--links-color);
    border-radius: 4px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover,
.modal-btn:focus
 { 
background-color: var(--pressed-state-color);

}
/*-----------------/Hero----------------*/
/*----------------- Section-SOLUTIONS---------*/
.menu-solutions {
    
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    column-gap: 24px;
    align-items: center;
     
}
.menu-item {
    flex-basis: calc((100% - 72px)/4);
    max-width: 264px;
}  
.menu-name{
   
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em; 
    /* NAVY BLUE */
    color: var(--dark-color);
    margin-bottom: 8px;
    margin-top: 8px;
}
.menu-text {
    
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    /* SLATE */
    color: var(--text-color);    
}
.menu-item-icon {
    display: flex;
    border-radius: 4px;
        background-color: var(--footer-logo-color);
        align-items: center;
        justify-content: center;
        padding-top: 24px;
        padding-bottom: 24px;
}
.menu-icon{
    fill: var(--dark-color);
 
}
   
    
/*-----------------/section-SOLUTIONS---------*/
/*------------------sec-IMAGES-TEAM--------------------*/
.images-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    flex-basis: calc((100%-48px)/3);
}
.images {
    padding-bottom: 120px;
   
}
.title {

font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
color: var(--dark-color);
margin-bottom: 72px;
text-align: center;
}
/*------------------/sec-IMAGES--------------------*/


.team-item {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
 
 background: var(--btn-color);

}

.team-name {
    
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    /* NAVY BLUE */
    color: var(--dark-color);
  
    margin-bottom: 8px;
}
.team-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    /* SLATE */
    color: var(--text-color);
    margin-bottom: 8px;
}

.team {
    background-color: var(--accent-color);
}
.team-photo {
    display: flex;
    flex-wrap: wrap;
   gap: 24px;
   text-align: center;
   flex-basis: calc((100%-72px)/4); 
  
   
}
.team-item-container {
padding: 32px 16px;
}
.team-soc-list {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 24px;
    
}

.team-soc-item {
    width: 40px;
    height: 40px;
    
}

.team-soc-link{
    
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 50%;
    background-color: var(--links-color);
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-soc-icon {
    fill:var(--footer-logo-color);
}
.team-soc-link:hover,
.team-soc-link:focus{
    background-color: var(--pressed-state-color);
}

/*------------------/sec-TEAM--------------------*/


/*------------------customers---------------------*/
.customers {
    padding-top: 130px;
    padding-bottom: 120px;
}
.customers-item {
    width: 168px;
    height: 88px;
    
}
.customers-link {
    width: 100%;
    height: 100%; 
    display: flex;
    border: 1px solid #8E8F99;
    border-radius: 4px;
align-items: center;
    justify-content: center;
    background-color: var(--btn-color);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
    ;
}
.customers-list {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 24px;
    
}
.customers-icon{
    
    fill: #8E8F99;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-link:hover,

.customers-link:focus {
    border: 1px solid var(--pressed-state-color);
   
}
.customers-link:hover .customers-icon,

.customers-link:focus .customers-icon{
fill: var(--pressed-state-color);}



/*------------------FOOTER--------------------*/
.footer-link {
    font-family: 'Raleway', sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
/* IRIS */
color: var(--links-color);

}
.footer-studio {
    /* CLOUD */
    color:var(--footer-logo-color); 
}
.footer-text {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
/* CORNFLOWER */
color: var(--accent-color);
margin-top: 16px;
max-width: 264px;
}
.footer {
    background-color: var(--dark-color);
    padding-top: 100px;
    padding-bottom: 100px;
    
}
.footer-container{
    display: flex;
    gap: 120px;
}
.footer-title{
    display: flex;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
/* identical to box height, or 150% */
letter-spacing: 0.02em;
margin-bottom:16px ;
color: var(--btn-color);
}
.footer-soc-list {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.footer-soc-item {
    width: 40px;
    height: 40px;
}
.footer-soc-link {
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.1);
    transition:  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc-icon {
    fill: var(--footer-logo-color);
}
.footer-soc-link:hover,
.footer-soc-link:focus{
    background-color: #31D0AA;
}
/*------------------/FOOTER--------------------*/


/*---------------PORTFOLIO-----------------*/
.visually-hidden {
    border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; 
}
.filters {
    padding-top: 96px;
    padding-bottom: 120px;
    
}
.filters-list{
    display: flex;
    flex-basis: calc((100% - 96px)/5);
    justify-content: center;
    gap:24px;
    margin:0 auto; 
    margin-bottom: 72px;
}

.filters-btn {
    font-family: inherit;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
display:flex;
align-items: flex-start;
text-align: center;
letter-spacing: 0.04em;
/* IRIS */
color: var(--links-color);
background: var(--footer-logo-color);
cursor: pointer;
border-radius: 4px;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
 box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
  border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
padding: 12px 24px;
border: 1px solid var(--accent-color);
}
.filters-btn:hover,
.filters-btn:focus {
    color: var(--btn-color);
   background-color: var(--pressed-state-color);
   border: 1px solid var(--pressed-state-color);
   box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
   0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.photos-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    /* NAVY BLUE */ 
    color: var(--dark-color); 
    margin-bottom: 8px;
    
}
.photos-subtitle{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    /* SLATE */
    color: var(--text-color);
}

 .photos-list {
 flex-basis: calc((100%-192px)/9);
 display: flex;   
 flex-wrap: wrap;
row-gap: 48px;
column-gap: 24px;

}

.photos-link{
   display: block;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
    background-color: var(--btn-color);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.photos-link:hover,
.photos-link:focus{  
   
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
 0px 2px 1px rgba(46, 47, 66, 0.08);

}

.photos-text {
    border: 1px solid var(--accent-color);
   border-top: 0;
padding-top: 32px;
padding-left: 16px;
padding-bottom: 32px;
}
.photos-top-text {
position: absolute;
top: 0;
font-weight: 400;
font-size: 16px;
line-height:1.5;
/* or 150% */
letter-spacing: 0.02em;
/* CLOUD */
color: var(--footer-logo-color);
background-color: var(--links-color);
height: 100%;
padding: 40px 32px;
transform: translateY(100%);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
overflow: auto;
}
.photos-top-wrap{
    position: relative;
    overflow: hidden;
}


.photos-link:hover .photos-top-text,
.photos-link:focus .photos-top-text
{
transform: translateY(0);
}

.backdrop{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%; 
    background-color: rgba(17, 19,25, 0.439);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal{
    position: absolute;
top: 50%;
left: 50%;
    width:408px ;
    min-height: 576px;
    background-color: #FCFCFC;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 
    0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 4px;
transform: translate(-50%, -50%) scaleX(1);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
padding: 24px;
}
.modal-close{
   
    width: 24px;
    height: 24px;
    background-color: var(--accent-color);
border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 50%;
cursor: pointer;
 display: flex;
 align-items: center;
     margin-left: auto;
}
.backdrop.is-hidden .modal{
    transform: translate(-50%, -50%) scaleX(0);

}
.is-hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
